main {
    .busqueda {
        text-align: center;
        input {
            background-color: $color-negro;
            color: $color-blanco;
            outline: none;
            border: none;
            border-bottom: 1px solid $color-gris-claro;
        }
        ul li {
            display: inline-block;
            padding: 0.5rem;
            font-size: 0.8rem;
            & a {
                color: $color-gris-oscuro;
                &:active {
                    color: $color-blanco;
                }
            }
        }
        &__imagenes {
            @include flex(row, center, center);
            & img {
                @include sizes (13rem,15rem);
                padding: 0.2rem;
                &:hover {
                    opacity: 0.6;
                    border: 2px solid $color-gris-oscuro;
                }
            }
        }
    }
}